name: CI/CD Production

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted


    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test -- --run

      - name: Build Project
        run: npm run build

      - name: Deploy to Apache
        run: |
          sudo mkdir -p /var/www/portfolio
          sudo rm -rf /var/www/portfolio/*
          sudo cp -r dist/* /var/www/portfolio/
          sudo systemctl reload apache2